bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/Test.deps.json
bin/Debug/net5.0/Test.dll
bin/Debug/net5.0/Test.exe
bin/Debug/net5.0/Test.pdb
bin/Debug/net5.0/Test.runtimeconfig.dev.json
bin/Debug/net5.0/Test.runtimeconfig.json
bin/Debug/net5.0/ref/Test.dll
obj/project.assets.json
obj/project.nuget.cache
obj/Test.csproj.nuget.dgspec.json
obj/Test.csproj.nuget.g.props
obj/Test.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Test.AssemblyInfo.cs
obj/Debug/net5.0/Test.AssemblyInfoInputs.cache
obj/Debug/net5.0/Test.assets.cache
obj/Debug/net5.0/Test.csproj.CopyComplete
obj/Debug/net5.0/Test.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Test.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Test.csprojAssemblyReference.cache
obj/Debug/net5.0/Test.dll
obj/Debug/net5.0/Test.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Test.genruntimeconfig.cache
obj/Debug/net5.0/Test.pdb
obj/Debug/net5.0/ref/Test.dll
.vscode/launch.json
.vscode/tasks.json
